<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About | Text To QR</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <div class="container">
            <div class="all-content">
                <h2>About This App</h2>
                <p>This is a simple Flask web app that turns your text or URLs into QR codes. It generates the image in-memory and lets you download it instantly as a PNG file.</p>
                <a class="go-back" href="/">Go Back</a>
            </div>
        </div>
    </body>

</html>

